@media (max-width: 1440px) {
    .layer-4-temple {
        width: 34%;
    }
    .layer-5-jungle-mid {
        /* bottom: -16%; */
        /* border-bottom: 38px solid #122E39; */
    }
    .layer-6-jungle-front {
        /* bottom: -22%; */
    } 
    .layer-7-foreground {
        width: 100%;
        position: absolute;
        /* bottom: -148%; */
        z-index: 7;
    }
    .about-section-top-divider.scrolled {
        top: -112px;
    }
    .heroo::before {
        height: 6%;
    }
    .front-bottom-layer-01 {
        bottom: 0%;
    }
    .front-layer-top-02 {
        height: 35%;
    }
    .front-layer-top-leaves-02 {
        height: 44%;
    }
    .top-arch-03 {
        top: 4.5%;
        height: 22%;
    }
    .contact {
        height: 110vh;
    }
    .left-arch-04 {
        height: 66%;
    }
    .right-arch-05 {
        height: 66%;
    }
    .layer-5-jungle-mid {
        top: 59svh;
    }
    .layer-7-foreground {
        top: 58svh;
    }
}

@media (max-width: 1220px) {
    .layer-7-foreground {
        top: 74svh;
    }
    .layer-5-jungle-mid {
        top: 69svh;
    }
    .layer-4-temple {
        top: 64svh;
    }
    .hero {
height: 106vh;
    }
    .layer-6-jungle-front {
        top: 83svh;
    }
    .about-section-top-divider.scrolled {
        top: -97px;
    }
    .about-second-cont {
        width: 63%;
    }
    .left-arch-04 {
        height: 70%;
        bottom: 10%;
    }
    .right-arch-05 {
        height: 70%;
        bottom: 10%;
    }
    .heroo::before {
        height: 91%;
    }
    .bottom-mask {
        z-index: 9;
    }
}

@media (max-width: 1024px) {
    .leaves-left, .leaves-right {
        width: 28%;
    }
    .layer-4-temple {
        width: 42%;
        top: 64svh !important;
    }
    .logo {
        width: 45%;
    }
    .layer-7-foreground {
        top: 76svh;
    }
    .layer-5-jungle-mid {
    top: 73.5svh;
}
.layer-4-temple {
    top: 68svh;
}
    .about-section-top-divider.scrolled {
        top: -42px;
    }
    .front-bottom-layer-01 {
        bottom: 0%;
        height: 31%;
    }
    .totem-light-07 {
        left: 38%;
        width: 23%;
    }
    .totem-left-arch-08 {
        left: 18.3%;
        width: 18.4%;
    }
    .totem-right-arch-08 {
        right: 18.3%;
        width: 18.4%;
    }
    h1 {
        font-size: 38px;
    }
    .about-second-cont {
        width: 84%;
        margin-right: 0%;
    }
    .featured-work-item {
        height: 68vh;
    }
    .totem-06 { 
        height: 51%;
        bottom: 5%;

    }
    .work-item-bottom-info {
        position: absolute;
        left: 16px;
        right: 16px;
        bottom: 16px;
        display: flex;
        justify-content: stretch;
        align-items: baseline;
        z-index: 5;
        color: white;
        flex-direction: column-reverse;
        gap: 6px;
    }
    .layer-2-mountains {
        bottom: 21%;
    }
    .layer-3-hills-back {
        bottom: 13%;
    }
    .fog_olips_left, .fog_olips_right {
        bottom: 25%;
    }
}

@media (max-width: 768px) {
    .leaves-left, .leaves-right {
        width: 44%;
    }
    .logo {
        padding-top: 145px;
    }
   .about-second-cont span {
    font-size: 13px;
    width: fit-content;
   }
.about-text .about-second-cont p {
    width: 79%;
}
    .totem-06 {
        height: 44%;
        bottom: 4%;
    }
    .about-section-top-divider.scrolled {
        height: 20%;
        top: -55px;
    }
    .about-section-bottom-divider {
        height: 18%;
    }
    .contact {
        height: 98vh;
    }
    .about-second-cont {
        width: 100%;
        flex-direction: column;
        gap: 16px;
    }
    .totem-light-07 {
        left: 35%;
        width: 28%;
    }
    .totem-left-arch-08 {
        left: 13.3%;
        width: 20.4%;
        top: 10%;
    }
    .totem-right-arch-08 {
        right: 10.3%;
        width: 24.4%;
        top: 10%;
    }
    .top-arch-03 {
        top: 5.5%;
        height: 16%;
    }
    .front-layer-top-leaves-02 {
        height: 34%;
    }
    .back-arch-darker-09 {
        width: 96%;
        top: 2%;
        left: 2%;
        height: 84%;
    }
    .back-arch-lighter-10 {
        width: 82%;
        top: 9%;
        left: 9%;
        height: 74%;
    }
    
}
@media (max-width: 600px) {
        .featured-work-item {
        height: 93vh;
    }
    .layer-4-temple {
        width: 50%;
        top: 63svh !important;
    }
        .leaves-left, .leaves-right {
        width: 49%;
    }
        .logo {
        padding-top: 127px;
    }
    .layer-1-sky {
    bottom: 34%;
    }
        .layer-2-mountains {
        bottom: 30%;
    }
    .layer-3-hills-back {
        bottom: 22%;
    }
        .layer-5-jungle-mid {
        top: 72.5svh;
    }
        .layer-6-jungle-front {
        top: 81svh;
    }
    .layer-7-foreground {
        top: 79svh;
    }
        .contact {
        height: 92vh;
    }
}
